.form {
  display: flex;
  flex-direction: column;
}

.form-signup {
  align-items: center;
  margin: 20px;
}

.form-signup input,
textarea {
  margin-bottom: 30px;
}
ul {
  list-style: none;
}
.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.nav-list > li {
  padding-right: 10px;
}
.sign {
  display: flex;
  background-color: white;
  margin: 20px 10px;
  padding: 5px 10px;
}
.logIn {
  background-color: white;
  margin: 20px 10px;
  padding: 5px 10px;
}
.whyAccount {
  width: 600px;
  text-align: justify;
}
.myAccount {
  width: 600px;
}
h3 {
  text-align: center;
}
.container {
  padding: 20px;
}
.logo {
  width: 100px;
  height: 20px;
}
.name {
  width: 500px;
  height: 20px;
  border-radius: 5px;
}
.email {
  width: 500px;
  height: 20px;
  margin: 10px;
  border-radius: 5px;
}
.pwdlog {
  width: 500px;
  height: 20px;
  margin: 10px;
  border-radius: 5px;
}
.pwd {
  margin: 10px;
  width: 75px;
  height: 20px;
  border-radius: 5px;
}
.icon {
  width: 50px;
  height: 50px;
}
.container {
  margin: 10 30px;
}
.texte {
  margin: 0 10px;
  text-align: justify;
}
.eye {
  height: 30px;
  width: 40px;
}
.createButton {
  width: 500px;
  height: 40px;
  background-color: lightskyblue;
  border-radius: 5px;
  color: white;
  font-size: bold;
  cursor: pointer;
}
.linkButton {
  width: 500px;
  height: 40px;
  margin: 10px 0;
  border-color: lightblue;
  background-color: white;
  border-radius: 5px;
  color: lightskyblue;
  font-size: bold;
  cursor: pointer;
}
.log {
  display: flex;
  justify-content: center;
}
.description {
  height: 100px;
  width: 400px;
  padding: 10px;
  margin: 10px;
}
.publish {
  background-color: white;
  margin: 20px 10px;
  padding: 5px 10px;
}
.title {
  padding: 10px;
  margin: 10px;
  width: 400px;
}
.price {
  padding: 10px;
  margin: 10px;
  width: 400px;
}
.publishButton {
  width: 200px;
  height: 40px;
  margin: 10px 0;
  background-color: lightskyblue;
  border-radius: 5px;
  color: white;
  font-size: bold;
  cursor: pointer;
}
.gris {
  width: 70px;
  height: 70px;
}
.listoffers {
  background-color: white;
  width: 600px;
}
